nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: #ff6ec4;
    background: linear-gradient(to right, #ff6ec4, #00b4db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ff6ec4;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 20px;
}

nav {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: #00b4db;
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 30px;
    margin: 5px 0;
}

.logo h1 {
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #ff6ec4;
    background: linear-gradient(to right, #ff6ec4, #00b4db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

video#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.9;
    filter: brightness(0.2);
}
.nav-menu.active {
    display: flex;
    right: 40px;
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    padding-left: 0;
}

@media screen and (max-width: 1141px) {
    video#bgVideo {
        object-fit: cover;
    }
    
    nav ul li {
        margin-right: 10px;
    }

    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 40px;
    }

}

@media screen and (max-width: 760px) {
    video#bgVideo {
        object-fit: cover;
    }
    
    nav ul li {
        margin-right: 10px;
    }

    .nav-menu {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 40px;
    }

}


@media screen and (max-width: 480px) {
    .logo h1 {
        font-size: 20px;
    }

    nav ul li {
        margin-right: 5px;
    }
    nav ul li a {
        font-size: 16px;
    }
}